previous/
node_modules/
.idea/
time_csv_data/
time_grouped_csv_data/
csv_data/
Results/
previous/
coverage/
previous2/
previous1/
previous_learnset/
previous_testset/
previous_inputset/
previous_small/
previous_small_2019-05-17/
previous_6-to-23/
latest/
previous_6-to-23_test/
previous_day/
previous_empty/